body, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  opacity: 0.9;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  background: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
}
.logo img {
  height: 50px;
  margin-left: 10px;
}
a {
  color: seashell;
  margin: 10px;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  width: 1200px;
  margin: auto;
}
#mission {
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 700px;
  width: 1200px;
}
.mission-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 120px;
}
h2 {
  padding-bottom: 15px;
}
#featured {
  padding: 70px 0;
  width: 1000px;
  margin: auto;
}
#featured h4 {
  padding-bottom: 20px;
}
.tea-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tea-photo img {
  width: 300px;
  height: 200px;
  margin: 10px 15px;
}
#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 70px;
  opacity: 1;
}
.locations-container {
  display: flex;
  justify-content: center;
}
.location  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 300px;
  margin: 0 20px;
  background-color: black;
}
footer {
  width: 100%;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}
.copyright {
  text-align: left;
  margin-left: 20px;
}
h5 {
  margin: 20px;
}
